
<div class="row">
  <div class="col-md-8">



  <div *ngIf="clubs">
    <p>List of clubs</p>
  <div *ngFor="let item of clubs | async">
            
        <div>{{item.name}}</div> 
        <button (click)="joinClub(item._id)">Join</button>
          </div>
  </div>





  </div>

  <div class="col-md-4">
<button (click)="getClub()"> getClubs</button>
<button (click)="getClub()"> getClubs</button>
  </div>
</div>


<!--


<div [ngClass]="{leftHome:true}">

  left Text
</div>


<div [ngClass]="{RightHome:true}">
  
  
  right text
  </div>

  -->
  

  <!--</div>

   <div *ngIf="clubs.length()<3">
     <button (click)="noClubs()">Create Club</button>
   </div>-->
<!--
<div *ngIf="clubflag">-->


<!--<form [FormGroup]="clubform" (ngSubmit)="createClub()"> 

 <buttton type="submit">Submit</button>

  </form>
<form [FormGroup]="clubform" (ngSubmit)="createClub()"> 
Name:<input type="text" FormControlName="name" >
  Description: <input type="text" FormControlName="description" >
    City :<input type="text" FormControlName="city" >
   State :  <input type="text" FormControlName="state" >
   <buttton type="submit">Submit</button>
  </form>-->

  <!--</div>-->
