
<div class="container">
<div class="row">
  <div class="col-xs-10">
<h1>Cycling Club</h1>


<button (click)="auth.login()" *ngIf="!auth.authenticated()">Login</button> <br>

<div [ngClass]='{description:true}' *ngIf="!auth.authenticated()">
Some description here 

</div>

  <div  [ngClass]='{description:true}' *ngIf="auth.authenticated()">

    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!--<div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>-->
    
    <ul class="nav navbar-nav">
      
      <li class="active"><a [routerLink]="['home']" routerLinkActive="active">Home</a></li>
      <li><a [routerLink]="['clubs']" routerLinkActive="active">Clubs</a></li>
      <li>  <a [routerLink]="['events']" routerLinkActive="active">Events</a></li>
      <li><a [routerLink]="['profile']" routerLinkActive="active">Profile</a></li>
    </ul>

<ul class="nav navbar-nav navbar-right">
      <!--<li><button  class="glyphicon glyphicon-log-out" (click)="auth.logout()">Logout</button></li>-->
      <li><button type="button" class="btn btn-primary btn-lg" (click)="auth.logout()"> LogOut</button></li>
    </ul>

  </div>
</nav>
  <!--<a [routerLink]="['home']" routerLinkActive="active">Home</a>
  <a [routerLink]="['clubs']" routerLinkActive="active">Clubs</a>
  <a [routerLink]="['liverides']" routerLinkActive="active">Live Rides</a>
  <a [routerLink]="['events']" routerLinkActive="active">Events</a>
  <a [routerLink]="['profile']" routerLinkActive="active">Profile</a>-->


 <router-outlet></router-outlet>
</div>
  </div>
  </div>
  </div>






